.fredoka {
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "Fredoka", sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #fff;

}

header {
    font-size: 1em;
    text-align: center;
}


h1 {
    font-size: 2em;
    background-color: #d4f5c3;
    padding: 10px;
    text-align: center;
    border-radius: 8;
}

h2 {
    font-size: medium;
    text-align: center;
    margin: 0;
    color: black;
}

.meal-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    padding: 10px;
}

/* Idea for later-Style Cards as Flip Card with recipe on links to a recipe page--> */
.meal-card {
    display: block;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.meal-card img {
    width: 100%;
    height: auto;
    display: block;
}

.meal-card h2 {
    padding: 10px;
    text-align: center;
    font-weight: 400;
    font-family: "Fredoka", sans-serif;
    color: black;
}

/*Grocery list styling*/

/*Category Header*/
.category {
    text-align: center;
    justify-content: center;
    display: flex;
    font-size: 1.2em;
    color: rgb(11, 11, 11);
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 10px;
    background-color: #d4f5c3;
}

.grocery-list {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    font-size: 1.2em;
}

.grocery-item {
    display: flex;
    align-items: center;
    padding: 12px;
    border-bottom: 1px solid #eee;
    font-size: 1em;
    text-transform: lowercase;
    justify-content: space-between;
    /* Distributes space between label and quantity */
    background-color: rgb(246, 216, 237);
    font-family: "Montserrat", sans-serif;
}

.grocery-item input {
    margin-right: 10px;
}

.grocery-item label {
    flex-grow: 1;
    font-style: normal;
    cursor: pointer;
    font-size: 12px;
}

.quantity {
    text-align: right;
    font-size: small;

}

.tip {
    display: flex;
    font-size: 1.2em;
    justify-content: center;
    color: rgb(11, 11, 11);
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0;
    padding: 10px;
    background-color: #d4f5c3;
    flex-grow: 1;
}

.tips {
    display: flex;
    padding: 25px;
    margin: 0px;
    font-size: 16px;
    font-style: italic;
    justify-content: space-around;
    /* Distributes space between label and quantity */
    background-color: rgb(246, 216, 237);
}